body {
  background-color:#fff;
  font: normal 14px Roboto,arial,sans-serif;
}
h1, h5{
  color: #845ac7;
  text-align:center; 
  color:cyan; 
}

.main-content {
  top: 90px;
}
a {
  color: #ffffff;
}

.footer {
  position: relative;
}

.post{
    border-radius: 8px;
    border-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    background-color: white;
    position: relative;
    margin: 15px;
    font-size: 25px;
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0,0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    padding: 10px;
    background-size: 200%;
    margin-top: 10px;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}

.login{
    border-radius: 8px;
    border-color: #FFFFFF;
    padding: 47px;
    background-color: whitesmoke;
    position: relative;
    font-size: 15px;
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0,0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.post-item{
    border-radius: 8px;
    border-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    background-color: white;
    position: relative;
    margin: 15px;
    font-size: 25px;
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
    padding: 10px;
    background-size: 200%;
    margin-top: 10px;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}

.registration{
    background-color: white;
    position: relative;
    margin: 15px;
    font-size: 25px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 5px;
    background-size: 200%;
    margin-top: 10px;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}

.jumbotron {
  margin-top: 60px;
}

.how-it-works {
  background-color: #6BCDFD;
  color: white;
  font: normal 14px Roboto;
  position: relative;
  padding: 30px;
  top: 60px;
  width: 100%;
}

.description {
  color: black;
  position: relative;
  padding-top: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.how-it-works img {
  border-radius: 3px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
  vertical-align: middle;
}

.how-it-works section {
  border-radius: 3px;
  padding: 10px;
  margin-top: 3px;
  font-size: 15px;
  font-family: sans-serif;
  width: 330px;
  height: auto;
}

ul, li {
  padding-top: 5px;
  font-family: sans-serif;
}

.footer {
  background-color: #6BCDFD;
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.container-login {
    padding: 20px;
    top: 120px;
    position: relative;
    margin-bottom: 250px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

/*
article {
    float: center;
    
}
article input[type=text]
{
    border: 2px solid #6BCDFD;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
    height: 30px;
}
article input[type=password]{
    border: 2px solid #6BCDFD;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
    height: 30px;
}

.glyphicon {
  width: 200px;
  height: 200px;
}

.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar {
    margin-top: 0px; 
    background-color: #6BCDFD;
}
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.navbar-inverse .navbar{
    background-color: steelblue;
    border-color: #080808;
}



.Tech_registration{
    background-color: cyan;
    position: relative;
    margin: 15px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 5px;
    height: auto;
    background-size: 200%;
    margin-top: 10px;
    background-repeat: no-repeat;
    width: auto;
    height: 360px;
}



.time{
    float: right;
    font-family: sans-serif;
    font-style: Regular;
    font-size: 10px;
}





.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 27px;
}

.comment{
    font-size: 30px;
    content: 6;
    float: right;
}

.addComment{
    color: #fff;
    background-color: #449DE2;
    border-color: #449DE2;
    border-radius: 31px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    margin: 15px;
    text-align: right;
    float: right;
}*/

/*
.addComment:hover{
    background-color: #6BCDFD;
}

.user{
    font-size: 12px;
    font-family: sans-serif;
    float: center;
    padding: 180px;
}

tr, td {
  padding: 22px;
  margin: 22px;
}*/
